* {
    margin: 0;
    padding: 0;
}

#pageTitle {
    font-family: MyriadPro-BoldCond, sans-serif;
    font-size: 250%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#subTitle {
    font-family: MyriadPro-BoldCond, sans-serif;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#subTitle2 {
    font-family: MyriadPro-BoldCond, sans-serif;
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

}

form {
    margin: 0 auto;
    text-align: center;
}