* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    border: 5px solid #00b0c4;
    border-radius: 20px;
    width: 75%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}
.QLink {
    font-size: 100%;
    text-decoration: none;
    color: black;
}

.QDiv {
    border: 5px solid #00b0c4;
    background-color: #fff;
    color: #000;
    font-family: UniSans, Verdana, Arial, sans-serif;
    text-align: center;
    text-wrap: wrap;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 1%;
    padding: 1%;
}

.QDiv:hover {
    border: 5px solid #a75000;
    background-color: #ff7d00;
    color: #fff;
}

.activeUser {
    border: 5px solid #227b56;
    background-color: #00ad5c;
    color: #fff;
}

.backgroundOrange, .backgroundOrangeHover:hover{
    border: 5px solid #a75000;
    background-color: #ff7d00;
    color: #fff;
}


form {
    text-align: center;
}

button {
    margin: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    width: 50%;
    background-color: #ff7d00;
    color: white;
    font-family: UniSans, Verdana, Arial, sans-serif;
    border: 1px solid #ff7d00;
    border-radius: 20px;
}

button:hover {
    background-color: #00b0c4;
    border: 1px solid #00b0c4;
}

.pageTitle {
    font-family: Bebas Neue, Verdana, Arial, sans-serif;
    font-size: 250%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
}

.subTitle {
    font-family: UniSans, Verdana, Arial, sans-serif;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
}
.subTitleLB {
    font-family: UniSans, Verdana, Arial, sans-serif;
    font-size: 150%;
    padding-top: 4%;
    text-align: center;
    text-decoration: none;
}

.gKN {
    font-family: UniSans, Verdana, Arial, sans-serif;
    color: #ff0000;;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
}
.subTitle2 {
    font-family: UniSans, Verdana, Arial, sans-serif;
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
}
.subTitle2LB {
    font-family: UniSans, Verdana, Arial, sans-serif;
    font-size: 100%;
    padding-bottom: 4%;
    text-align: center;
    text-decoration: none;
}

#HQLogo {
    height: 100%;
    width: auto;
    margin: 2px;
}

footer {
    position: sticky;
    width: 100%;
    padding: 1%;
    overflow: hidden;
    bottom: 0;
}