nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: UniSans, Verdana, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

nav>ul>li {
    list-style-type: none;
}

#navBarLeft li {
    float: left;
}

#navBarRight li {
    float: right;

}

nav a {
    display: block;
    background-color: #00b0c4;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    border: 1px solid #00b0c4;
    border-radius: 10px;
    text-decoration: none;
}

nav a.active {
    background-color: #ff7d00;
    border: 1px solid #ff7d00;
}

nav a:hover {
    background-color: #ff7d00;
    border: 1px solid #ff7d00;
}