ul.navBar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0182aa;
    font-family: MyriadPro-Regular, sans-serif;
}

ul.navBar li {
    float: left;
    list-style-type: none;
}

ul.navBarRight li {
    float: right;
    list-style-type: none;
}


ul.navBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navBar a.active {
    background-color: #016f91;
}

ul.navBar a:hover {
    background-color: #001319;
    color: #f37020;
}